@model dynamic

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Szczegóły</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                @foreach (var property in Model.GetType().GetProperties())
                {
                    <dt class="col-sm-3">@property.Name</dt>
                    <dd class="col-sm-9">@property.GetValue(Model)</dd>
                }
            </dl>
            <a asp-action="@Model.Discriminator" asp-controller="Assets" class="btn btn-secondary">Cofnij</a>
            <a asp-action="Edit" asp-route-type="@Model.Discriminator" asp-route-id="@Model.Guid" class="btn btn-primary btn-sm">Edytuj</a>
            <a asp-action="Delete" asp-route-type="@Model.Discriminator" asp-route-id="@Model.Guid" class="btn btn-danger btn-sm">Usuń</a>
        </div>
    </div>
</div>
