@model IEnumerable<Gateway.Storage.Dtos.AssetDto>

@{
    ViewData["Title"] = "Elementy";
}


<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p class="text-right">
        <a class="btn btn-success" asp-action="CreateElements">Create New</a>
    </p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SerialNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-action="DeleteElements" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>